.disconnect {
  display: block;
}
.connect {
  display: none;
}

.swiper {
  width: 100%;
  min-width: 360px;
  height: 488px;
  margin: 0 auto;
  background-size: cover;
  background-image: url(/src/styles/assets/swiper\ dum.png);
}
.todayPick {
  background-color: #fff;
  padding: 50px 14.4%;
  width: 100%;
  min-width: 360px;
  margin: 0 auto;
  counter-reset: num;
}

.todayPick h2 {
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  word-wrap: break-word;
}

h3 {
  color: #111;
  font-size: 19px;
  font-weight: 600;
  line-height: 22px;
}
.todayPick ul {
  margin-top: 30px;
}

.todayPick li {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  gap: 20px;
  counter-increment: num;
  list-style-type: decimal !important;
  border-bottom: #bbb;
}

.todayPick li::before {
  content: counter(num);
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.leftContent {
  width: 55%;
}

.leftContent h4 {
  color: #111;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 4px;
}

.leftContent .by {
  color: #bbb;
  font-size: 0.8125rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 400;
  line-height: 19px;
}

.leftContent .writer {
  color: #959595;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 20px;
}
.leftContent p {
  width: 100%;
  height: 40px;
  color: #959595;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 19px;
  word-break: keep-all;
  word-wrap: break-word;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.todayPick hr {
  margin: 20px 0;
  border: 0.5px solid #eee;
}

.topWriter {
  background-color: #fff;
  padding: 50px 14.4%;
  width: 100%;
  min-width: 360px;
  margin: 0 auto;
}

.topWriter ul {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.topWriter li {
  padding: 24px;
  display: inline-flex;
  flex-direction: column;
  /* white-space: nowrap; */
  overflow-x: auto;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.topWriter li:nth-child(odd) {
  border-right: 1px solid #ddd;
}
.topWriter li:nth-child(-n + 2) {
  border-bottom: 1px solid #ddd;
}

.topWriter li img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
}

.topWriter li .writer {
  text-align: center;
  color: #111;
  font-size: 19px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 15px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.topWriter li .catchphrase {
  margin: 0 auto;
  color: #959595;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  margin-top: 3px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.topWriter li .profile {
  display: -webkit-box;
  margin: 0 auto;
  color: #666;
  font-size: 13px;
  font-weight: 300;
  line-height: 19px;
  margin-top: 15px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

footer {
  min-width: 360px;
  margin-bottom: 100px;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
