.swiper {
  width: 360px;
  height: 488px;
  margin: 0 auto;
  background-size: cover;
  background-image: url(/src/styles/assets/swiper\ dum.png);
}
.todayPick {
  background-color: #fff;
  padding: 50px 14.4%;
  width: 100%;
  min-width: 360px;
  margin: 0 auto;
  counter-reset: num;
}

.todayPick h2 {
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  word-wrap: break-word;
}

.todayPick h3 {
  color: #111;
  font-size: 19px;
  font-weight: 600;
  line-height: 22px;
}
.todayPick ul {
  margin-top: 30px;
}

.todayPick li {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  gap: 20px;
  counter-increment: num;
  list-style-type: decimal !important;
  border-bottom: #bbb;
}

.todayPick li::before {
  content: counter(num);
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.leftContent {
  width: 55%;
}

.leftContent h4 {
  color: #111;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 4px;
}

.leftContent .by {
  color: #bbb;
  font-size: 0.8125rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 400;
  line-height: 19px;
}

.leftContent .writer {
  color: #959595;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 20px;
}
.leftContent p {
  width: 100%;
  height: 40px;
  color: #959595;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 19px;
  word-break: keep-all;
  word-wrap: break-word;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.todayPick hr {
  margin: 20px 0;
  border: 0.5px solid #eee;
}
