<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/style.css" />
  </head>
  <body>
    <div class="componentWarp">
      <h1>북커버 컴포넌트</h1>
      <hr />
      <br />
      <div class="bookCoverWrap">
        <!-- <img src="/src/styles/assets/book_cover_background.jpg" a lt="" /> -->
        <div class="bookCover">
          <p class="bookname">무사히 마흔살이 될 수 있을까</p>
          <div class="writerWrap">
            <p class="writer">글자수를 넘어가면 어떻게되는지 알아보자</p>
          </div>
        </div>
        <img
          src="/src/styles/assets/brunch_book_Image.svg"
          class="branchBookLogo"
          alt=""
        />
      </div>
    </div>
  </body>
</html>
