<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header, footer, navigation component</title>
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/style.css" />
    <script defer type="module" src="/src/main.ts"></script>
  </head>
  <body>
    <div class="componentWarp">
      <h1>헤더, 푸터, 네비 컴포넌트</h1>

      <hr />
      <h2>디폴트 헤더</h2>
      <br />

      <header id="default_header">
        <div class="wrapHeader">
          <img src="/src/styles/assets/LOGO.svg" class="logo" /><img />

          <div class="rightContent">
            <img
              src="/src/styles/assets/Property 1=Search.svg"
              class="searchIcon"
            />
            <button class="login">시작하기</button>
          </div>
        </div>
      </header>

      <br />
      <h2>로그인 이후 헤더</h2>
      <br />

      <header id="variant_header">
        <div class="wrapHeader">
          <img src="/src/styles/assets/LOGO.svg" class="logo" /><img />

          <div class="rightContent">
            <img src="/src/styles/assets/Property 1=Notice.svg" class="alert" />
            <img
              src="/src/styles/assets/Property 1=NoticeOn.svg"
              class="alertOn"
            />
            <img
              src="/src/styles/assets/Property 1=Search.svg"
              class="searchIcon"
            />
            <div class="profileWarp">
              <img
                src="/src/styles/assets/profile Rectangle 430.svg"
                class="myProfile"
              /><img />
            </div>
          </div>
        </div>
      </header>
      <br />
      <br />
      <hr />
      <h2>네비게이터</h2>
      <br />

      <nav>
        <div class="navWrap">
          <div class="navItem active" id="home">
            <img
              class="icon On"
              src="/src/styles/assets/home Property 1=On.svg"
              alt="홈"
            />
            <img
              class="icon Off"
              src="/src/styles/assets/home Property 1=Off.svg"
              alt="홈으로 가기"
            />
            <span>홈</span>
          </div>
          <div class="navItem" id="navSearch">
            <img
              class="icon On"
              src="/src/styles/assets/search Property 1=On.svg"
              alt="발견탭"
            />
            <img
              class="icon Off"
              src="/src/styles/assets/search Property 1=Off.svg"
              alt="발견 탭으로 가기"
            />
            <span>발견</span>
          </div>
          <div class="navItem" id="write">
            <img
              class="icon On"
              src="/src/styles/assets/write Property 1=On.svg"
              alt="글쓰기탭"
            />
            <img
              class="icon Off"
              src="/src/styles/assets/write Property 1=Off.svg"
              alt="글쓰러 가기"
            />
            <span>글쓰기</span>
          </div>
          <div class="navItem" id="myBox">
            <img
              class="icon On"
              src="/src/styles/assets/mybox Property 1=On.svg"
              alt="내서랍탭"
            />
            <img
              class="icon Off"
              src="/src/styles/assets/mybox Property 1=Off.svg"
              alt="내서랍으로 가기"
            />
            <span>내 서랍</span>
          </div>
        </div>
      </nav>
      <br />
      <hr />
      <br />
      <h2>푸터</h2>
      <br />
      <footer>
        <div class="footerWrap">
          <div class="snsWrap">
            <div class="snsList">
              <img
                src="/src/styles/assets/Property 1=kakao.svg"
                class="snsIcon kakao_talk"
                alt="카카오톡"
              />
              <img
                src="/src/styles/assets/Property 1=facebook.svg"
                class="snsIcon facebook"
                alt="페이스북"
              />
              <img
                src="/src/styles/assets/twiiter_x_icon_black.svg fill.svg"
                class="snsIcon twitter"
                alt="X"
              />
            </div>
          </div>
          <div class="terms">
            <div class="termsSpanWrap">
              <span>이용약관</span>
              <span>이전 이용약관</span>
              <span>카카오 유료서비스 이용약관</span>
              <span class="kakaoTerms">카카오 개인정보 처리방침</span>
              <span>청소년 보호정책</span>
              <span>운영정책</span>
            </div>
            <div class="logoWrap">
              <img
                src="/src/styles/assets/logo Property 1=white.svg"
                alt="logo"
                class="footerLogo"
              />
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
